
<%= form_for (@post) do |f| %>

    <div class="row">
      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l8">
          <%= f.text_area :name, :id => "textarea1", :class => "materialize-textarea" %>
          <label for="textarea1">이름</label>
        </div>
      </div>
      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l8">
          <%= f.text_area :school, :id => "textarea2", :class => "materialize-textarea" %>
          <label for="textarea2">학교</label>
        </div>
      </div>
      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l8">
          <%= f.text_area :year, :id => "textarea3", :class => "materialize-textarea" %>
          <label for="textarea3">년도</label>
        </div>
      </div>
      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l8">
          <%= f.text_area :content, :id => "textarea4", :class => "materialize-textarea" %>
          <label for="textarea4">행복십계명,UCC(유투브주소)</label>
        </div>
      </div>


      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l12">
          <%= f.text_area :genre, :id => "textarea1", :class => "materialize-textarea" %>
          <label for="textarea1">type</label>
        </div>
      </div>

      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l12">
      <%= f.text_area :rank, :id => "textarea1", :class => "materialize-textarea" %>
      <label for="textarea1">rank</label>

          </div>
        </div>
    </div>

    <div class="row">
      <div class="file-field input-field">
        <div class="btn waves-effect waves-light">
          <i class="material-icons right">attach_file</i>
          <span>File</span>
          <%= f.file_field :avatar %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6 center">
        <div class="input-field col s12 m12 l8">
          <%= f.submit "Create" %>
        </div>
      </div>
    </div>


<% end %>